# Node / JS
node_modules/
client/node_modules/
server/node_modules/

# Builds
client/build/
server/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
server/.env

# Misc
.DS_Store
Thumbs.db
